<div class="flex-center">
  <mat-progress-spinner *ngIf="isLoading"></mat-progress-spinner>
  <mat-card-content *ngIf="!isLoading">
    <form #loginForm="ngForm" class="form">
      <mat-form-field class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput placeholder="E-mail" name="email" ngModel email required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" name="password" ngModel required minlength="5">
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-raised-button (click)="onSubmit(loginForm)" color="primary">LOGIN</button>
    </mat-card-actions>
  </mat-card-content>
</div>
