.container {
  display: flex;
  margin: auto;
  width: 80%;
  height: 80%;
  justify-content: center;
  flex-flow: column wrap-reverse;
  row-gap: 30px;
}

.challenge {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.challenge-editor {
  min-width: 60%;
}

.challenge-task {
  min-width: 30%;
}

.challenge-buttons {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
}
