<div class="container">
  <div class="challenge">
    <div class="challenge-editor">
      <code-editor (codeChangedEvent)="onCodeChange($event)"></code-editor>
    </div>
    <div class="challenge-task">
      <code-challenge-task></code-challenge-task>
    </div>
  </div>

  <div class="challenge-buttons">
    <div>
      <button mat-raised-button color="primary" class="btn btn-primary" (click)="onSubmit()">Submit</button>
    </div>
    <div>
      <button mat-raised-button color="primary" class="btn btn-success" (click)="onTest()">Test</button>
    </div>
  </div>
</div>
